// qui dentro ad esempio creo tutte le mie variabili
$primary-color: rgb(47, 47, 207);
$secondary-color: #bebebe;
$success-color: rgb(89, 226, 89);

$sizes-map: (
  sm: 12px,
  md: 16px,
  lg: 20px,
);

$main-border: 1px solid black;
